.entry-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

.entry-item {
    width: 20rem;
    max-width: 95%;
    margin: 1rem;
}

.product__title {
    font-size: 1.2rem;
    text-align: center;
}

.product__description {
    text-align: center;
}